.chat-side
  .side-head
    .side-head__top
      %h3.side-head__user-name
        masa
      %ul.side-head__icon-list
        %li.side-head__icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.side-head__icon
          = link_to '#' do
            = icon('fas', 'cog')

  .side-group
    .side-group__box
      %h4.side-group__group-name tech camp
      %p.side-group__group-message まだメッセージがありません
   

      